/*  your css code here. If applicable */
.container{
	background-color:#F5F4F6;
	font-size:8px;
	width:70%;
	padding:20px;
	
	
}
.item{
	background-color:white;
	padding:10px;
	border:1px solid gray;
}
.author{
	text-align:end;
}


